<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Поиск</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="/">К У П И - П Р О Д А Й</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/">Главная</a>
      <a class="p-2 text-dark" href="/my_adds">Мои объявления</a>
      <a class="p-2 text-dark" href="/add">Разместить объявление</a>
      <a class="p-2 text-dark" href="/profile/{{ id }}">Личный кабинет</a>
      <a class="p-2 text-dark" href="/about">О нас</a>
  </nav>
        {% if id != '1' %}
        <a class="btn btn-outline-primary" href="/profile/{{ id }}">{{ art1.name }}</a>
        {% else %}
  <a class="btn btn-outline-primary mr-md-3" href="/sign_in">Войти</a>
  <a class="btn btn-outline-primary" href="/sign_up">Зарегистрироваться</a>
        {% endif %}
</div>
        <div class="album bg-light">
    <div class="container">
        <form name="search" action="search" class="form-inline mt-2 mt-md-1 mr-sm-4 py-3" method="post">
                <div class="category-select-root-2U90T form-control mr-sm-2 col-md-0">
                    <div class="category-select-select-3qe_m select-select-box-3LBfK select-size-s-2gvAy">
                        Сортировка по объявлениям
                        <select name="category_id" id="category" data-marker="search-form/category" class="select-select-3CHiM">
                            {% if cat_search == '0' %}
                                <option selected="" value="0" data-marker="option">Не выбрано...</option>
                            {% else %}
                                <option value="0" data-marker="option">Не выбрано...</option>
                            {% endif %}
                            {% if cat_search == '1' %}
                                <option selected="" value="1" class="" data-marker="option(1)">Транспорт</option>
                            {% else %}
                                <option value="1" class="" data-marker="option(1)">Транспорт</option>
                            {% endif %}
                            {% if cat_search == '2' %}
                                <option selected="" value="2" data-marker="option(2)">Недвижимость</option>
                            {% else %}
                                <option value="2" data-marker="option(2)">Недвижимость</option>
                            {% endif %}
                            {% if cat_search == '3' %}
                                <option selected="" value="3" data-marker="option(3)">Личные вещи</option>
                            {% else %}
                                <option value="3" data-marker="option(3)">Личные вещи</option>
                            {% endif %}
                            {% if cat_search == '4' %}
                                <option selected="" value="4" data-marker="option(4)">Для дома и дачи</option>
                            {% else %}
                                <option value="4" data-marker="option(4)">Для дома и дачи</option>
                            {% endif %}
                            {% if cat_search == '5' %}
                                <option selected="" value="5" data-marker="option(5)">Электроника</option>
                            {% else %}
                                <option value="5" data-marker="option(5)">Электроника</option>
                            {% endif %}
                            {% if cat_search == '6' %}
                                <option selected="" value="6" class="" data-marker="option(6)">Хобби и отдых</option>
                            {% else %}
                                <option value="6" class="" data-marker="option(6)">Хобби и отдых</option>
                            {% endif %}
                            {% if cat_search == '7' %}
                                <option selected="" value="6" class="" data-marker="option(7)">Другое</option>
                            {% else %}
                                <option value="6" class="" data-marker="option(7)">Другое</option>
                            {% endif %}
                        </select>
                        <div class="select-part-KP5ck select-icon-23qbw">
                            <svg width="1em" height="1em" viewBox="0 0 28 28" style="font-size:1.4em" class="icon-icon-2HGyI icon-variant-default-1eXXW" aria-hidden="true" role="img"></svg>
                        </div>
                    </div>
                </div>
            <input name="search_input" class="form-control mr-sm-2 col-md-0" type="text" placeholder="Поиск..." aria-label="Search" value="{{ name_search }}">
            <input type="submit" value="Искать" class="btn btn-outline-success my-2 my-sm-0">
            </form>
      <div class="row">
          {% if flag == True %}
            {% for el in true_adds %}
                {% if adds[el].actual == 1 %}
    <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Нет фото</text></svg>
            -->
              <img src="static/img/{{ el }}/original.jpg" width="100%">
            <div class="card-body">
              <p class="card-text">{{ adds[el].title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="card-text text-right"><b>{{ adds[el].type }}</b></p>
                <p class="card-text text-left"> {{ adds[el].cost }}₽</p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/add/{{ el }}">
                    <button type="button" class="btn btn-sm btn-outline-secondary mb-3 mr-1">Посмотреть</button>
                  </a>
                  <button type="button" class="mb-3 mr-1">{{ art[adds[el].host_id].phone_number }}</button>
                </div>
                <small style='font-size: 50%;' class="text-muted">{{ dates[el] }}</small>
              </div>
            </div>
          </div>
        </div>
          {% endif %}
{% endfor %}
          {% else %}
          <h1 class="mt-5 text-center">По вашему запросу ничего не найдено. <a href="/">Вернуться</a> на главную</h1>
          {% endif %}
          </div>
    </div>
  </div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2022 Seregin Corp.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/about">Связаться с нами</a></li>
    </ul>
  </footer>
</body>
</html>